@import "src/variables";

@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: local("Inter-Regular"),
    url("../public/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: local("Inter-Medium"),
    url("../public/fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: local("Inter-SemiBold"),
    url("../public/fonts/Inter-SemiBold.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Inter";
  color: $color-text;
}